*{
    margin:0;
    padding:0;

}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;

}

a:hover{
    opacity: 0.5;
}

.menu{
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;

}

nav{
    display :flex;
    justify-content: space-around;
    align-items: center;
}