* {
    margin:0;
    padding:0;

}

a{
    color: #ffff;
    text-decoration: none;
    transition: 0.3s;

}

a:hover{
    opacity: 0.5;
}

.menu{
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;

}

nav{
    display :flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(3, 7, 26);
    height: 8vh;
}

main{
    background: url("menu.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
