body{
    margin: 0;
    text-align: center;

}
.sidnav{
    height: 100%;
    overflow: hidden;
    top: 0;
    left:0;
    background-color: #ddd;
    position: fixed;
}
/* side navigation links*/
.sidnav a{
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
}
/*change color on hover*/
.sidnav a:hover{
    background-color: rgb(5,190,21);
    color:black;
}
h1{
    border-left: 5px red solid;     
}